
<!DOCTYPE html>
<html>

<head>  
	
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
	<script src="https://d3js.org/d3.v5.min.js"></script>

</head>


<body>

<div class="navbar" style="background-color:beige;">
  <a class="active" href="#"><i class="fa fa-fw fa-Home"></i> Home</a>
  <a href="/about"><i class="fa fa-fw fa-Help"></i> About</a>
  <a href="/contact"><i class="fa fa-fw fa-Contact"></i> Contact</a>
</div>

<table style ="width:100%">
	<tr>
	<th class="not_mapped_style" style="text-align:center;color:#F87217;font-size:40px">WHERE SHOULD I LIVE?<br></th>
	</tr>
	<tr>
	<td align="center"><img src="static/images/G.jpg" alt="" border=0 width=100% height=488></img><br><br></td>
	</tr>
		
</table>

    <br />
    <br />

    <div class="card-deck">			
				<div class="card">
                    <div class="text-right">
					<img class="" src="static/images/D.jpg" alt="Card image" style="width:80px; padding-right:10px; padding-top:10px">
                    </div>
					<div class="card-body d-flex flex-column">
						<h4 class="card-title">Crime Index</h4>
						<p class="card-text">Estimation of overall level of crime in a given city. Lower is better.</p>
						<select name="crimeFilter" id="crimeFilter" style="margin-top: auto">
							<option value="SELECT">SELECT</option>	
							<option value="0-20 very low">0-20 very low</option>
							<option value="20-40 low">20-40 low</option>
							<option value="40-60 moderate">40-60 moderate</option>
							<option value="60-80 high">60-80 high</option>
							<option value="80-100 very high">80-100 very high</option>
						</select>
					</div>
		        </div>
			
                <div class="card">
                    <div class="text-right">
                        <img class="card-img-top" src="static/images/B.jpg" alt="Card image" style="width:80px; padding-right:10px; padding-top:10px">
                    </div>
                        <div class="card-body d-flex flex-column">
                            <h4 class="card-title">Health Care Index</h4>
                            <p class="card-text">Estimation of the overall quality of the health care system (professionals, equipment, staff, doctors, cost). Higher is better.</p>
                            <select name="HCFilter" id="HCFilter" style="margin-top: auto">
                                <option value="SELECT">SELECT</option>
                                <option value="0-20 very low">0-20 very low</option>
                                <option value="20-40 low">20-40 low</option>
                                <option value="40-60 moderate">40-60 moderate</option>
                                <option value="60-80 high">60-80 high</option>
                                <option value="80-100 very high">80-100 very high</option>
                            </select>
                        </div>
                </div>
			
                <div class="card">
                    <div class="text-right">
                        <img class="card-img-top" src="static/images/C.jpg" alt="Card image" style="width:80px; padding-right:10px; padding-top:10px">
                    </div>
                        <div class="card-body d-flex flex-column">
                            <h4 class="card-title">Pollution Index</h4>
                            <p class="card-text">Estimation of the overall pollution in the city, considering mostly the level of air pollution. Lower is better.</p>
                            <select name="pollutionFilter" id="pollutionFilter" style="margin-top: auto">
                                <option value="SELECT">SELECT</option>
                                <option value="0-20 very low">0-20 very low</option>
                                <option value="20-40 low">20-40 low</option>
                                <option value="40-60 moderate">40-60 moderate</option>
                                <option value="60-80 high">60-80 high</option>
                                <option value="80-100 very high">80-100 very high</option>
                            </select>
                        </div>
                </div>
			
                <div class="card">
                    <div class="text-right">
                        <img class="card-img-top" src="static/images/E.jpg" alt="Card image" style="width:80px; padding-right:10px; padding-top:10px">
                    </div>
                        <div class="card-body d-flex flex-column">
                            <h4 class="card-title">Restaurant Price Index</h4>
                            <p class="card-text">Comparison of prices of meals and drinks in restaurants and bars compared to NYC. Lower is better.</p>
                            <select name="restFilter" id="restFilter" style="margin-top: auto">
                                <option value="SELECT">SELECT</option>
                                <option value="0-20 very low">0-20 very low</option>
                                <option value="20-40 low">20-40 low</option>
                                <option value="40-60 moderate">40-60 moderate</option>
                                <option value="60-80 high">60-80 high</option>
                                <option value="80-100 very high">80-100 very high</option>
                            </select>
                        </div>
                </div>
    </div>

    <br />
	<div class="container" align="center"><input style="text-align:center;font-size:24px;color:white;background-color:steelblue" type="submit" class = "submit" value="Search"><br><br></div>
	
    <!--
    <table>
        <tr>
            <td colspan="4" align="center"><img src="static/images/A.jpg" alt="" border=0 width=40% height="auto"</img></td>
        </tr>
    </table>
    -->

<div class = 'row'>
    <div class = "col-md-1"></div>
    <div class = "col-md-10" id = "map"></div>
</div>

<br>


<div class="container">
    <div class = "row">
        <div class = 'col-md-2'></div>
        <div class="table-responsive-md">
            <table style ="width:100%; font-size:16px; color:black" border="2" class="table table-striped">
                <thead>
                    <tr style="text-align: left;">
                      <th>City</th>
                      <th>Crime Index</th>
                      <th>Health Care Index</th>
                      <th>Pollution Index</th>
                      <th>Restaurant Price Index</th>
                    </tr>
                  </thead>
                  <tbody id = "dataTable">
                  </tbody>
            </table>
        </div>
    </div>
</div>
​





<div class = 'row'>
    <div class = 'col-md-4'></div>
    <div class = 'col-md-4'><strong><h4 class = 'chart-title'></h4></strong></div>


</div>
<div class = 'row'>
    <div class = 'col-md-1'></div>
    <div class = 'col-md-10' id = "chart"></div>

</div>


<script type="text/javascript" src="static/js/config.js"></script>
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
​
	<script src="static/js/signUp.js"></script>
<script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>

<footer>
	<p>Copyright &copy; 2021 Made with 🤍</p>
</footer>
	

</body>			
</html>

